@{
    ViewData["Title"] = "";
}

<main class="main-content w-full px-[var(--margin-x)] pb-8">
    <div class="mt-12 text-center">
        <div class="avatar h-16 w-16">
            <div class="is-initial rounded-full bg-success text-white">
                <svg class="h-14 w-14 transition-transform duration-500 ease-in-out hover:rotate-[360deg]" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM13.3584 6.93033C12.604 6.72817 11.8458 6.70116 11.1255 6.82338C10.7171 6.89267 10.3299 6.61779 10.2606 6.20941C10.1913 5.80103 10.4662 5.41381 10.8745 5.34452C11.8033 5.18693 12.7796 5.22232 13.7466 5.48144C17.3467 6.44608 19.4832 10.1465 18.5186 13.7466C17.5539 17.3467 13.8535 19.4832 10.2534 18.5186C6.65325 17.5539 4.51679 13.8535 5.48144 10.2534C5.67232 9.54098 5.97096 8.8846 6.35561 8.29795C6.80849 7.60723 7.71251 7.56491 8.27405 8.01941L12.4718 11.417C12.7938 11.6776 12.8436 12.1499 12.583 12.4718C12.3224 12.7938 11.8501 12.8436 11.5282 12.583L9.39091 10.8531C9.2365 11.2038 9.15089 11.5916 9.15089 12C9.15089 13.5735 10.4265 14.8491 12 14.8491C13.5735 14.8491 14.8491 13.5735 14.8491 12C14.8491 10.4265 13.5735 9.15089 12 9.15089C11.5858 9.15089 11.25 8.81511 11.25 8.40089C11.25 7.98668 11.5858 7.65089 12 7.65089C14.4019 7.65089 16.3491 9.59805 16.3491 12C16.3491 14.4019 14.4019 16.3491 12 16.3491C9.59805 16.3491 7.65089 14.4019 7.65089 12C7.65089 11.2339 7.8495 10.5131 8.19774 9.8874L7.48915 9.31389C7.2486 9.7184 7.0586 10.1629 6.93033 10.6416C6.1801 13.4415 7.84168 16.3194 10.6416 17.0697C13.4415 17.8199 16.3194 16.1583 17.0697 13.3584C17.8199 10.5585 16.1583 7.68056 13.3584 6.93033Z" fill="currentColor"></path> </g></svg>
            </div>
        </div>
        <h3 class="mt-3 text-xl font-semibold text-slate-600 dark:text-navy-100">
            Sybil Checker
        </h3>
        <p class="mt-0.5 text-base">
            Discover your wallet's risk level with Sybil Checker and stay ahead of potential threats!
        </p>
    </div>
    <div class="mx-auto mt-8 grid w-full max-w-4xl grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-5 lg:gap-6">
        <div class="card p-4 sm:p-5">
            <div class="avatar h-12 w-12">
                <div class="is-initial rounded-full bg-info text-white">
                    <img style="border-radius: 50%;" src="/images/Scroll_Logomark.ad5d0348.svg" />
                </div>
            </div>
            <h2 class="mt-5 text-base font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100">
                Scroll Sybil Checker
            </h2>
            <p class="mt-1">
                Check your risk of being a Sybil for Scroll Airdrop
            </p>
            <div class="mt-5 pb-1">
                <a href='@Url.Action("Index", "Scroll")' class="border-b border-dashed border-current pb-0.5 font-medium text-primary outline-none transition-colors duration-300 hover:text-primary/70 focus:text-primary/70 dark:text-accent-light dark:hover:text-accent-light/70 dark:focus:text-accent-light/70">
                    Checker
                </a>
                <a style="margin-left: 15px;" href='@Url.Action("Overview", "Scroll")' class="border-b border-dashed border-current pb-0.5 font-medium text-primary outline-none transition-colors duration-300 hover:text-primary/70 focus:text-primary/70 dark:text-accent-light dark:hover:text-accent-light/70 dark:focus:text-accent-light/70">
                    Overview
                </a>
            </div>
        </div>
        <div class="card p-4 sm:p-5">
            <div class="avatar h-12 w-12">
                <div class="is-initial rounded-full bg-info text-white">
                    <img style="border-radius: 50%;" src="/images/holonym.svg" />
                </div>
            </div>
            <h2 class="mt-5 text-base font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100">
                Holonym Users' Checker
            </h2>
            <p class="mt-1">
                Analyze Holonym users' risk level for Airdrops
            </p>
            <div class="mt-5 pb-1">
                <a href="\" class="border-b border-dashed border-current pb-0.5 font-medium text-primary outline-none transition-colors duration-300 hover:text-primary/70 focus:text-primary/70 dark:text-accent-light dark:hover:text-accent-light/70 dark:focus:text-accent-light/70">
                    Login
                </a>
            </div>
        </div>

        <div class="card p-4 sm:p-5 not-allowed-checker-box" >
            <div class="avatar h-12 w-12">
                <div class="is-initial rounded-full bg-info text-white">
                    <img style="border-radius: 50%;" src="/images/Base_Network_Logo.svg" />
                </div>
            </div>
            <h2 class="mt-5 text-base font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100">
                Base Sybil Checker
            </h2>
            <p class="mt-1">
                Check your risk of being a Sybil for Base Airdrop
            </p>
            <div class="mt-5 pb-1">
                <a style="cursor:not-allowed" class="border-b border-dashed border-current pb-0.5 font-medium text-primary outline-none transition-colors duration-300 hover:text-primary/70 focus:text-primary/70 dark:text-accent-light dark:hover:text-accent-light/70 dark:focus:text-accent-light/70">
                    Coming Soon...
                </a>
            </div>
        </div>
        <div class="card p-4 sm:p-5 not-allowed-checker-box">
            <div class="avatar h-12 w-12">
                <div class="is-initial rounded-full bg-info text-white">
                    <img style="border-radius: 50%;" src="/images/zksync.svg" />
                </div>
            </div>
            <h2 class="mt-5 text-base font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100">
                zkSync Sybil Checker
            </h2>
            <p class="mt-1">
                Check your risk of being a Sybil for zkSync Airdrop
            </p>
            <div class="mt-5 pb-1">
                <a style="cursor:not-allowed" class="border-b border-dashed border-current pb-0.5 font-medium text-primary outline-none transition-colors duration-300 hover:text-primary/70 focus:text-primary/70 dark:text-accent-light dark:hover:text-accent-light/70 dark:focus:text-accent-light/70">
                    Coming Soon...
                </a>
            </div>
        </div>
    </div>
</main>